@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel='stylesheet' type='text/css' media='screen' href='~/css/style.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
          integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Saviour Drone/scan</title>
</head>
<body>

    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <a href="#"><img style="width: 10px;" src="../assests/dot.png"> Drone</a>
        <a href="#"><img style="width: 10px;" src="../assests/dot.png"> Sustainability</a>
        <a href="#"><img style="width: 10px;" src="../assests/dot.png"> Buy Keys</a>
        <a href="#"><img style="width: 10px;" src="../assests/dot.png"> About Mark</a>
        <a href="#"><img style="width: 10px;" src="../assests/dot.png"> How to Use Drone</a>
    </div>
    <div class="mainroot">
        <div class="charge">
            <p>Charge: <span class="percentage">99%</span></p>
            <div class="topbar"><button class="openbtn" onclick="openNav()">☰</button></div>
        </div>

        <div class="canvas-cont">
            <h1 class="canvas-heading">Covered Area 20-M</h1>
            <canvas class="map"></canvas>
        </div>
        <div class="options">
            <div class="information">
                <P>Location: <span class="location"> Gabol park</span></P>
                <P>Drone: <span class="drone"> ON</span></P>
                <P>Processing: <span class="processing"> Soil Detected</span></P>
                <P>Temperature: <span class="Temperature"> 37.C</span></P>
            </div>
            <div class="drone-flight-keys">
                <button class="drone-arrow"><i class="far fa-arrow-alt-circle-up"></i></button>
                <button class="drone-arrow"><i class="far fa-arrow-alt-circle-down"></i></button>
            </div>
        </div>
        <div class="scaling">
            <hr>
            <h5 class="scaling-heading"><b>Position</b></h5>
            <div class="scaling-info">
                <div class="axis">X - 195.5</div>
                <div class="axis">Y - 202.6</div>
                <div class="axis">Z - 520.1</div>
            </div>


            
            <img class=" d-curve" src="../assets/down1.png">
        </div>
        <script>
        function openNav() {
          document.getElementById("mySidebar").style.width = "250px";
          document.getElementById("main").style.marginLeft = "250px";
        }

        function closeNav() {
          document.getElementById("mySidebar").style.width = "0";
          document.getElementById("main").style.marginLeft= "0";
        }
        </script>

</body>
</html>