@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel='stylesheet' type='text/css' media='screen' href='~/css/style.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saviour Drone/scron</title>
</head>
<body>
    <div id="mySidebar" class="sidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
        <a href="#"><img style="width: 10px;" src="../assests/dot.png"> Drone</a>
        <a href="#"><img style="width: 10px;" src="../assests/dot.png"> Sustainability</a>
        <a href="#"><img style="width: 10px;" src="../assests/dot.png"> Buy Keys</a>
        <a href="#"><img style="width: 10px;" src="../assests/dot.png"> About Mark</a>
        <a href="#"><img style="width: 10px;" src="../assests/dot.png"> How to Use Drone</a>
    </div>

    <div class="mainroot">
        <div class="charge">
            <p>Charge: <span class="percentage">99%</span></p>
            <div class="topbar"><button class="openbtn" onclick="openNav()">☰</button></div>
        </div>
        <div class="canvas-cont">
            <h1 class="canvas-heading">Covered Area 20-M</h1>
            <canvas class="map"></canvas>
        </div>
        <div class="options">
            <div class="information">
                <P>Drone: <span class="drone"> OFF</span></P>
                <P>WAN: <span class="drone"> Connected</span></P>
            </div>
            <div class="scron-buttons">
                <button class="scron-btn">Check connection</button>
                <button class="scron-btn">Start drone</button>
            </div>
        </div>

        <img class=" d-curve" src="../assests/down1.png">
    </div>

    <script>
    function openNav() {
        document.getElementById("mySidebar").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
      }

      function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
        document.getElementById("main").style.marginLeft= "0";
      }
    </script>
</body>
</html>